<html>
<head>
    <title>FediBGS {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="flex h-screen bg-gray-200 font-roboto">
        <main class="flex-1 overflow-x-hidden overflow-y-auto">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
